.container {
  color: white;
  background: black;
  flex-direction: row;
  @include dimensions (100vh, 100%);
  @include flex (flex, center, center);
  @media only screen and (max-width: 1400px) {
    flex-direction: column;
  }
  &__right {
    color: white;
    @include dimensions (100%, 50%);
    @include flex (flex, center, center);
    @media only screen and (max-width: 700px) {
      width: 100%;
      display: block;
    }
    span {
      color: red;
    }
    ul {
      width: 600px;
      list-style: none;
      @media only screen and (max-width: 800px) {
        padding: 10px;
        width: 100%;
      }
      li {
        text-align: center;
        margin-bottom: 20px;
        font-size: 1.5rem;
        font-weight: 200;
        line-height: 25px;
      }
    }
  }
  &__images {
    position: relative;
    opacity: 0;
    @include dimensions (100%, 50%);
    @media only screen and (max-width: 1400px) {
      display: flex;
      justify-content: space-around;
      @include dimensions (100%, 100%);
      flex-direction: column;
    }
    @media only screen and (max-width: 700px) {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    &--one {
      @include dimensions (400px, 300px);
      @include background (url("../images/image1.JPG"), cover, no-repeat, left);
      @include position (absolute, 100px, 30px);
      @media only screen and (max-width: 1400px) {
        display: none;
      }
      @media only screen and (max-width: 700px) {
        display: none;
      }
    }
    &--two {
      @include dimensions (300px, 400px);
      @include background (url("../images/image2.jpg"), cover, no-repeat, center);
      @include position (absolute, 200px, 250px);
      @media only screen and (max-width: 1400px) {
        position: initial;
        @include dimensions (500px, 100%);
      }
      @media only screen and (max-width: 700px) {
        @include dimensions (1000px, 100%);
        background-position: center;
      }
    }
    &--three {
      @include dimensions (300px, 400px);
      @include background (url("../images/image3.jpg"), cover, no-repeat, center);
      @include position (absolute, 450px, 130px);
      @media only screen and (max-width: 1400px) {
        display: none;
      }
      @media only screen and (max-width: 700px) {
        @include dimensions (1000px, 100%);
        background-position: center;
      }
    }
  }
}

@keyframes show {
  0% {opacity: 0;}
  25% {opacity: 0.25;}
  50% {opacity: 0.5;}
  75% {opacity: 0.75;}
  100% {opacity: 1;}
}

.r2h {
  @media only screen and (max-width: 1400px) {
    height: 100%;
  }
  &__left {
    flex-direction: column;
    @include dimensions (100%, 50%);
    @include flex (flex, center, center);
    @media only screen and (max-width: 1400px) {
      width: 100%;
    }
    &--text {
      font-weight: 200;
      flex-direction: column;
      justify-content: flex-end;
      text-align: center;
      @include dimensions (80%, 80%);
      @include flex (flex, center, center);
      p {
        font-size: 1.5rem;
      }
    }
  }
  &__images {
    opacity: 0;
    position: relative;
    @include dimensions (100%, 50%);
    @media only screen and (max-width: 1400px) {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    &--one {
      @include dimensions (40%, 600px);
      @include background (url("../images/rv3.jpg"), cover, no-repeat, center);
      @include position (absolute, 100px, 100px);
      @media only screen and (max-width: 1400px) {
        position: initial;
        @include dimensions (100%, 50%);
      }
    }
    &--two {
      @include dimensions (40%, 600px);
      @include background (url("../images/rv1.jpg"), cover, no-repeat, center);
      @include position (absolute, 430px, 40px);
      @media only screen and (max-width: 1400px) {
        position: initial;
        @include dimensions (100%, 50%);
      }
    }
  }
}

.show {
  opacity: 1;
  animation-name: show;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}
