.contact {
  background: rgb(28, 30, 38);
  width: 100%;
  height: 800px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-weight: 200;
  &__text {
    text-transform: uppercase;
    font-weight: 200;
    width: 50%;
    position: relative;
    padding-bottom: 20px;
    span {
      color: red;
    }
    h2 {
      font-weight: 200;
    }
  }
  &__form {
    width: 50%;
    margin-top: 50px;
    // background: yellow;
    &--top {
      display: flex;
      justify-content: space-between;
      @media only screen and (max-width: 1400px) {
        display: block;
      }
    }
    form {
      label {
        display: none;
      }
      input {
        background: rgb(28, 30, 38);
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.213);
        padding-bottom: 10px;
        width: 200px;
        color: white;
        outline: none;
        @media only screen and (max-width: 1400px) {
          width: 100%;
          margin-bottom: 20px;
        }
        // margin-right: 50px;
      }
      .subject {
        margin-top: 50px;
        width: 100%;
        background: rgb(28, 30, 38);
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.213);
        @media only screen and (max-width: 1400px) {
          margin-top: 0;
        }
      }
      .comments {
        display: block;
        margin-top: 50px;
        width: 100%;
        text-align: left;
        color: white;
        @media only screen and (max-width: 1400px) {
          margin-top: 30px;
        }
      }
      textarea {
        margin-top: 50px;
        width: 100%;
        background: rgb(28, 30, 38);
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.213);
        outline: none;
        color: white;
      }
    }
  }
}

// .whitespace {
//     background: rgb(28, 30, 38);
//     width: 80px;
//     height: 20px;
//     position: absolute;
//     bottom: -10px;
//     left: 45%;
// }

.triangle {
  background-image: url("../images/triangle.png");
  width: 10px;
  height: 10px;
  background-size: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.213);
    top: 0;
    width: 300px;
    @media only screen and (max-width: 700px) {
      width: 200px;
    }
    @media only screen and (max-width: 460px) {
      width: 120px;
    }
  }
  &::before {
    right: 100%;
    margin-right: 15px;
  }
  &::after {
    left: 100%;
    margin-left: 15px;
  }
}

.elevator-button {
  margin-top: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/arrow.png);
  background-size: cover;
  transform: rotate(180deg);
  cursor: pointer;
}
