@import "./_variables";

.contact {
  background: $main-gray;
  color: white;
  text-align: center;
  flex-direction: column;
  font-weight: 200;
  @include dimensions (800px, 100%);
  @include flex (flex, center, center);
  @media only screen and (max-width: 1400px) {
    height: 100vh;
  }
  @media only screen and (max-width: 700px) {
    height: 100vh;
  }
  &__text {
    text-transform: uppercase;
    font-weight: 200;
    width: 50%;
    position: relative;
    padding-bottom: 20px;
    @media only screen and (max-width: 700px) {
      width: 80%;
    }
    &--p {
      @media only screen and (max-width: 700px) {
        display: none;
      }
    }
    span {
      color: red;
    }
    h2 {
      font-weight: 200;
      @media only screen and (max-width: 700px) {
        font-size: 1.9rem;
        margin-top: 30px;
      }
    }
    p {
      letter-spacing: 2px;
    }
  }
  &__form {
    width: 50%;
    margin-top: 50px;
    @media only screen and (max-width: 700px) {
      @include flex (flex, center, center);
    }
    &--top {
      @include flex (flex, space-between, center);
      @media only screen and (max-width: 1400px) {
        display: block;
      }
    }
    form {
      label {
        display: none;
      }
      input {
        background: $main-gray;
        border: none;
        border-bottom: 1px solid $light-gray;
        padding-bottom: 10px;
        width: 200px;
        color: white;
        outline: none;
        @media only screen and (max-width: 1400px) {
          width: 100%;
          margin-bottom: 20px;
        }
        @media only screen and (max-width: 700px) {
          width: 300px;
        }
      }
      .subject {
        margin-top: 50px;
        width: 100%;
        background: $main-gray;
        border: none;
        border-bottom: 1px solid $light-gray;
        @media only screen and (max-width: 1400px) {
          margin-top: 0;
        }
      }
      .comments {
        display: block;
        margin-top: 50px;
        width: 100%;
        text-align: left;
        color: white;
        @media only screen and (max-width: 1400px) {
          margin-top: 30px;
        }
        @media only screen and (max-width: 700px) {
          margin-top: 0;
        }
      }
      textarea {
        margin-top: 50px;
        width: 100%;
        background: $main-gray;
        border: none;
        border-bottom: 1px solid $light-gray;
        outline: none;
        color: white;
        @media only screen and (max-width: 700px) {
          margin-top: 0;
        }
      }
    }
  }
}

.triangle {
  position: absolute;
  bottom: 0;
  left: 50%;
  @include dimensions (10px, 10px);
  @include background (url("/images/triangle.png"), 10px, no-repeat, center);
  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid $light-gray;
    top: 0;
    width: 300px;
    @media only screen and (max-width: 700px) {
      width: 200px;
    }
    @media only screen and (max-width: 460px) {
      width: 120px;
    }
  }
  &::before {
    right: 100%;
    margin-right: 15px;
  }
  &::after {
    left: 100%;
    margin-left: 15px;
  }
}

.elevator-button {
  margin-top: 50px;
  width: 40px;
  height: 40px;
  transform: rotate(180deg);
  cursor: pointer;
  @include dimensions (40px, 40px);
  @include background (url('/images/arrow.png'), cover, no-repeat, center);
  @media only screen and (max-width: 700px) {
    display: none;
  }
}
