.nav {
  background: black;
  color: white;
  position: sticky;
  top: 0;
  z-index: 10;
  @include dimensions (90px, 100%);
  @include flex (flex, center, center);
  h1 {
    font-weight: 200;
    text-transform: uppercase;
    font-size: 2.2rem;
  }
  span {
    color: red;
  }
}
.banner {
  color: white;
  flex-direction: column;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  @include flex (flex, center, center);
  @include dimensions (750px, 100%);
  @include background (url("../images/banner_image.jpg"), cover, no-repeat, top);
  h2 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.2rem;
  }
}