.project {
  height: 750px;
  position: relative;
  width: 100%;
  text-align: center;
  background: black;
  display: flex;
  border-bottom: 1px solid black;
  align-items: center;
  justify-content: space-between;
  @media only screen and (max-width: 1400px) {
    flex-direction: column;
  }
  &__image {
    height: 60%;
    width: 50%;
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
    display: flex;
    align-items: center;
    background: black;
    transition: transform 0.3s;
    @media only screen and (max-width: 1400px) {
      height: 60%;
    width: 80%;
    }
    img {
      height: 100%;
      width: 100%;
      filter: brightness(70%);
    }
  }
  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60%;
    width: 50%;
    color: white;
    letter-spacing: 2px;
    padding: 10px;
    h2 {
      font-size: 3rem;
    }
    p {
      font-size: 1.3rem;
    }
  }
}
.stickyNav {
  background: black;
  height: 90px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  h2 {
    font-weight: 200;
    text-transform: uppercase;
    font-size: 2.2rem;
  }
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 20;
}

.sticky2 {
  position: sticky;
  top: 0;
  z-index: 30;
}
