.project {
  position: relative;
  opacity: 0;
  text-align: center;
  background: black;
  border-bottom: 1px solid black;
  @include dimensions (750px, 100%);
  @include flex (flex, space-between, center);
  @media only screen and (max-width: 1400px) {
    flex-direction: column;
  }
  @media only screen and (max-width: 700px) {
    height: 800px;
  }
  &__image {
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
    background: black;
    transition: transform 0.3s;
    @include dimensions (60%, 50%);
    @include flex (flex, center, center);
    @media only screen and (max-width: 1400px) {
      @include dimensions (60%, 60%);
      margin-top: 70px;
    }
    @media only screen and (max-width: 700px) {
      clip-path: none;
      @include dimensions (300px, 100%);
    }
    img {
      @include dimensions (100%, 100%);
      filter: brightness(70%);
    }
  }
  &__text {
    flex-direction: column;
    color: white;
    letter-spacing: 2px;
    padding: 10px;
    @include dimensions (60%, 50%);
    @include flex (flex, center, center);
    @media only screen and (max-width: 700px) {
      width: 90%;
    }
    h2 {
      font-size: 3rem;
    }
    p {
      font-size: 1.3rem;
    }
  }
  &__buttons {
    width: 400px;
    @include flex (flex, space-between, none);
    @media only screen and (max-width: 700px) {
      width: 250px;
      flex-direction: column;
    }
  }
  
}
.stickyNav {
  background: black;
  color: white;
  overflow: hidden;
  @include dimensions (90px, 100%);
  @include flex (flex, center, center);
  position: sticky;
  top: 0;
  z-index: 10;
  h2 {
    font-weight: 200;
    text-transform: uppercase;
    font-size: 2.2rem;
  }
}