@import "../partials/normalizer";
@import "../partials/mixins";
@import "../partials/header";
@import "../partials/project";
@import "../partials/about";
@import "../partials/contact";
@import "../partials/variables";
@import "../partials/overlay";
@import "../partials/animation";

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: black;
}

.redButton {
  border: none;
  text-transform: uppercase;
  padding: 15px 60px;
  background: rgb(196, 23, 23);
  transition: transform 0.2s;
  border-radius: 25px;
  color: white;
  font-weight: 400;
  outline: none;
  &:hover {
    transform: scale(0.8);
  }
  @media only screen and (max-width: 700px) {
    padding: 15px 40px;
  }
}

.margin-top {
  margin-top:40px;
}
